
* {

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ff9a0f;
}

#header-top {
    height: 44px;
    background-color: #4b4b4b;
    /*background-image: url("../img/header-top_bg.png");*/
}

#header-top #img_telephone {
    float: right;
    margin: 12px 409px;
}

#header-logo-menu {
    height: 130px;
    background-color: #ffffff;
    /*Между этим блоком и первым (#header-top) непонятный отступ, его не должно быть,
    блоки должны быть впритык.
    Если раскомментировать следующие две строки, то на вид все нормально, но я думаю так не совсем првильно.
    Почему так происходит, не могу понять?? Время на это потратил очень много. Подскажи*/
    /*position: absolute;*/
    /*width: 100%;*/
}

#header-logo-menu #img_logo {
    float: left;
    margin: 30px 0 0 409px;
}

