
@media screen and (min-width: 1281px) and (max-width: 1600px) {

    header img {
        width: 300px;
    }

    table img {
        width: 55px;
    }

    header, nav, section {
        border: 0.25em ridge rgba(255, 154, 15, 0.51);
        padding: 0.7em;
        margin-top: 0.7em;
    }

    nav a {
        font-size: 1.25em;
        padding: 0.2em;
    }

    footer {
        font-size: 1.1em;
    }

    table {
        border-spacing: 1em;
    }

    h1, h2 {
        margin: 1.8%;
    }

    h1 {
         font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    main {
        font-size: 1em;
    }

    [name] {
        font-size: 1em;
    }
}