body {
    background-color: #fafafa;
    width: 100%;
    margin: 0px;
    zoom: 80%;
}

section {
    overflow: hidden;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #3d3d3d;
}

.call {
    display: inline-flex;
    font: 15px Myriad Pro;
    color: #fafafa;
    text-transform: uppercase;
}

#phone {
   vertical-align: middle;
}

#number {
    color: #f4af00;
}

#header-top {
    height: 42px;
    background: url("images/top.png") no-repeat;
    padding-right: 360px;
    text-align: right;
    margin-bottom: auto;
}

#head {
    height: 130px;
    width: auto;
}

#vase {
    border: 1px solid #dbdbdb;
    width: 64px;
    height: 64px;
    box-sizing: border-box;
    background-color: #ffffff;
    float: left;
    margin-top: 30px;
    margin-left: 21.0256%;
}

#vase img {
    display: block;
    margin: 7px auto 7px auto;
}

#name {
    float: left;
    height: 64px;
    margin-top: 30px;
    margin-left: 22px;
}

#interior, #design {
    font: 30px "Myriad Pro";
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: auto;
}

#interior {
    color: #f4af00;
}

#design {
    color: #3d3d3d;
}

nav {
    float: left;
    margin-top: 35px;
    margin-left: 360px;
}

nav ul li {
    float: right;
    margin-right: 20px;
    font: 15px Myriad Pro;
    font-weight: 500;
    overflow: hidden;
    color: #3d3d3d;
    text-transform: uppercase;
}

.about {
    width: 96px;
    height: 36px;
    text-align: center;
    display: block;
    line-height: 36px;
}

.about:hover {
    display: block;
    color: #ffffff;
    background: linear-gradient(to top, #f3aa00, #f7c400);
}

#room {
    background: url("images/room.png");
    height: 513px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size:140px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 100;
    margin: 0px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size:50px;
    text-transform: uppercase;
    color: #494949;
    font-weight: 300;
    margin: 0px;
}

#text {
    font: 14px "Arial";
    margin-top: 0px;
    text-transform: uppercase;
    color: #3d3d3d;
}

#some-text {
    margin-left: 20.8717%;
    padding-top: 100px;
    width: 630px;
}

#middle {
    height: 455px;
}

.switch {
    width: 62px;
    height: 9px;
    background-color: #ffffff;
    float: left;
    margin-right: 6px;

}

#current {
    background-color: #4d4d4d;
    margin-left: 395px;
}

#white-line {
    height: 60px;
    background: url("images/white-line.png") no-repeat;
}

.art {
    width: 364px;
    float: left;
    margin-left: 30px;
}
.art:first-child {
    margin-left: 20.9230%;
}

.number {
    float: left;
    width: 76px;
    height: 76px;
    background: url("images/number.png");
    font-family: 'Roboto', sans-serif;
    font-size:40px;
    font-weight: 900;
    color: #ffffff;
    text-align: center;
}

.number p {
    margin: 0;
    line-height: 76px;
}

h5 {
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    font-size:14px;
    font-weight: normal;
    color: #494949;
    padding: 0 auto;
    margin-left: 97px;
    line-height: 24px;
    margin-bottom: 35px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size:30px;
    font-weight: lighter;
    color: #494949;
    padding: 0 auto;
    margin-left: 97px;
    text-transform: uppercase;
    margin-bottom: 0px;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size:15px;
    font-weight: 100;
    color: #4d4d4d;
    padding: 0 auto;
    margin-left: 97px;
    text-transform: uppercase;
    margin-top: 0px;
}

#main {
    height: 566px;
}

.name2 {
    font-family: 'Roboto', sans-serif;
    font-size:30px;
    font-weight: lighter;
    color: #494949;
    padding: 0 auto;
    text-transform: uppercase;
    margin-bottom: 36px;
}

.foto {
    float: left;
}

#cite2 {
    padding-top: 190px;
}

.cite {
    font-family: 'Arial', sans-serif;
    font-size:14px;
    line-height: 22px;
    color: #9f9f9f;
    padding: 15px;
    margin-left: 16px;
    margin-top: 0px;
    float: left;
    border: 1px solid #dbdbdb;
    width: 280px;
    box-sizing: border-box;
    background-color: #ffffff;
    position: relative;
}

.cite::before, .cite::after {
    content: '';
    position: absolute;
    left: -20px;
    bottom: 75px;
    border: 10px solid transparent;
    border-right: 10px solid #ffffff;
}

.cite::before {
    border-right: 10px solid #dbdbdb;
    bottom: 76px;
}

.man, .org {
    float: right;
    text-transform: uppercase;
    font-family: "OpenSans";
    font-size: 15px;
    color: #3d3d3d;
    margin-top: 0px;
}

.man {
    color: #f4af00;
}

.date {
    width: 76px;
    height: 96px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    background-color: #ffffff;
    float: left;
}

.day {
    width: 76px;
    height: 65px;
    font-family: 'Roboto', sans-serif;
    font-size:40px;
    font-weight: 900;
    color: #3d3d3d;
    text-align: center;
    line-height: 65px;
}

.month {
    width: 76px;
    height: 31px;
    background: linear-gradient(to top, #454545, #5c5c5c);
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    line-height: 31px;
    overflow: hidden;
}

.donece {
    font: 20px "OpenSans";
    text-transform: uppercase;
    color: #f6bc00;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 0px;
    float: left;
}

.dolore {
    font: 15px "OpenSans";
    text-transform: uppercase;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 0px;
    float: left;
}

.lorem {
    font-family: 'Arial', sans-serif;
    font-size:14px;
    line-height: 22px;
    color: #9f9f9f;
    margin-left: 10px;
    margin-top: 10px;
    width: 275px;
    float: left;
}

.news {
    margin-top: 35px;
    width: 364px;
    height: 96px;
}

.list {
    background: linear-gradient(to top, #454545, #5c5c5c);
    width: 364px;
    height: 55px;
    position: relative;
    margin-top: 7px;
}

.choose {
    position: absolute;
    left: 80px;
    top: 5px;
}

.list p {
    font: 15px Myriad Pro;
    color: #ffffff;
    text-transform: uppercase;
}

.marker {
    display: block;
    width: 55px;
    height: 55px;
    background: linear-gradient(to top, #f3aa00, #f7c400);
    text-align: center;
    line-height: 55px;
    float: left;
    transition: all 1s ease-in-out;
}

.marker:hover {
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.black_marker {
    display: block;
    width: 55px;
    height: 55px;
    background: linear-gradient(to top, #464646, #555555);
    text-align: center;
    line-height: 55px;
    margin-right: 5px;
    float: left;
}

#next {
    margin-top: 210px;
}

#footer {
    background: url("images/footer-back.png") no-repeat;
    height: 80px;
    width: 100%;
    position: relative;
}

#social li {
    float: right;
    margin-right: 10px;
}

#social {
    float: right;
    position: absolute;
    top: 7px;
    right: 340px;
}

#copy {
    width: 250px;
    font: 14px Myriad Pro;
    color: white;
    margin-left: 395px;
    text-transform: uppercase;
    padding-top: 20px;
}

@media screen and (max-width: 360px) {

    body {
        width: 100%;
    }
    #header-top {
        height: 42px;
        background: url("images/top.png") no-repeat;
        padding-right: 10px;
        text-align: right;
        margin-bottom: auto;
    }

    .art:first-child {
        margin-left: 0px;
    }

    .art {
        width: 100%;
    }

    #middle {
        height: 200%;
    }

    #main, #footer, #bar, #some-text {
        display: none;
    }

    #room {
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 120px;
    }
}


@media screen and (min-width: 1132px) and (max-width: 1280px){
    * {
        margin-left: 0px;
    }

    body {
        width: 100%;
    }

    #footer {
        display: none;
    }
    #room {
        width: 100%;
    }

    nav, #vase, .art:first-child {
        margin-left: auto;
    }

    .art {
        width: 30%;
        margin-left: 10px;
    }
    #header-top {
        height: 42px;
        background: url("images/top.png") no-repeat;
        padding-right: 10px;
        text-align: right;
        margin-bottom: auto;
    }
}