
@media screen and (max-width: 640px) {

    header img {
        max-width: 100%;
    }

    table img {
        width: 35px;
    }

    header, nav, section {
        border: 0.25em ridge rgba(255, 154, 15, 0.51);
        padding: 0.7em;
        margin-top: 0.7em;
    }

    nav a {
        font-size: 1.25em;
        padding: 0.2em;
    }

    footer {
        font-size: 0.9em;
    }

    table {
        border-spacing: 0.2em;
    }

    h1, h2 {
        margin: 1.8%;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    main {
        font-size: 0.7em;
    }

    [name] {
        font-size: 0.9em;
    }

    .contacts_str {
        font-size: 0.6em;
    }
}