
@media screen and (min-width: 1601px) and (max-width: 1920px) {

    header img {
        width: 360px;
    }

    table img {
        width: 66px;
    }

    header, nav, section {
        border: 0.30em ridge rgba(255, 154, 15, 0.51);
        padding: 0.84em;
        margin-top: 0.84em;
    }

    nav a {
        font-size: 1.5em;
        padding: 0.24em;
    }

    footer {
        font-size: 1.32em;
    }

    table {
        border-spacing: 1.2em;
    }

    h1, h2 {
        margin: 2.16%;
    }

    h1 {
        font-size: 2.4em;
    }

    h2 {
        font-size: 1.8em;
    }

    main {
        font-size: 1.2em;
    }

    [name] {
        font-size: 1.2em;
    }
}