
@import "style_min1920px.css";
@import "style_1600-1920px.css";
@import "style_1280-1600px.css";
@import "style_960-1280px.css";
@import "style_640-960px.css";
@import "style_max640px.css";

@import url('https://fonts.googleapis.com/css?family=PT+Serif+Caption:400,400i&subset=cyrillic,cyrillic-ext');

body {
    margin: auto;
    width: 70%;
    max-width: 3200px;
    background-image: url(../src/wall.jpg);
    background-size: contain;
    font-family: 'PT Serif Caption', serif;
}

header, nav, section {
    background-color: moccasin;
    text-align: center;
}

section {
    padding: 0;
}

nav a {
    color: black;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}

nav a:hover, nav a:focus {
    color: #900400;
}

footer {
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

table {
    margin: auto;
    border-top: none;
}

h2, h3, dt, span {
    font-weight: bold;
    font-style: italic;
}

li {
    text-align: left;
}

footer p:before {
    content: "© ";
}







