@media screen and (max-width: 1920px) {

    div.common-wrapper {
        width: 68%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1750px) {

    div.common-wrapper {
        width: 78%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1600px) {

    div.common-wrapper {
        width: 88%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1280px) {

    div.common-wrapper {
        width: 95%;
        margin: 0 auto;
    }

    div.wrapper_banner{
        width: 56.5371%;
        margin: 0 auto;
    }

    div.wrapper_banner h1, h2, p {
        width: 100%;
        margin-top: 33%;
        text-align: center;
    }

    div.content-1 {
        width: 100%;
        height: 924px;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: cover;
    }

    div.common-wrapper section.block_content-1 {
        width: 68%;
        height: 210px;
        margin: 0 auto;
        padding-top: 80px;
        float: none;
    }

    div.common-wrapper section.block_content-1 h3 {
        margin: 13px 180px 0 21px;
    }

    div.common-wrapper section.block_content-1 h4 {
        margin: 3px 240px 0 21px;
    }

    div.common-wrapper section.block_content-1 p {
        margin: 20px 0 20px 0;
    }

    div.content-2 {
        width: 100%;
        height: 1124px;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: cover;
    }

    div.content-2 section.block_content-2 {
        width: 100%;
        height: 210px;
        margin: 0 auto;
        padding-top: 70px;
        float: none;
    }

    section.block_content-2 h3.title {
        width: 80%;
    }

    div.person {
        width: 40%;
    }

    div.person blockquote cite p.name, p.org {
        margin: 15px 5px 0 0;
    }

    div.news {
        width: 32%;
        float: left;
    }

    div.news div.text {
        width: 60%;
    }

    img.line_news {
        display: none;
    }

    div.news div.text p {
        width: 100%;
        text-align: left;
    }
}

@media screen and (max-width: 1024px) {

    div.header-nav_and_logo {
        height: 185px;
    }

    div.wrapper_header-nav_and_logo a.logo {
        width: 42%;
    }

    div.wrapper_header-nav_and_logo nav.navigation {
        margin-top: 45px;
        font-size: 1.1em;
    }

    div.wrapper_banner{
        width: 90%;
        margin: 0 auto;
    }

    div.common-wrapper section.block_content-1 {
        width: 90%;
        height: 210px;
        margin: 0 auto;
        padding-top: 80px;
        float: none;
    }

    div.common-wrapper section.block_content-1 p {
        margin: 20px 0 20px 0;
    }

    div.content-2 {
        height: 1650px;
    }

    div.content-2 section.block_content-2 {
        width: 90%;
        height: 470px;
        margin: 0 auto;
        padding-top: 70px;
        float: none;
        text-align: center;
    }

    section.block_content-2 h3.title {
        width: 80%;
    }

    div.person {
        width: 70%;
        margin-bottom: 50px;
    }

    div.person img.foto {
        width: 20%;
    }

    div.person blockquote {
        width: 61%;
        float: left;
    }

    div.person blockquote cite p.name, p.org {
        margin: 15px 5px 0 0;
    }

    div.person blockquote div.rect {
        width: 340px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    div.person blockquote div.rect p {
        width: 250px;
        height: 100px;
        padding: 15px;
        font-size: 0.9em;
    }

    div.news {
        width: 70%;
        margin: 0 auto;
        float: none;
        padding: 20px 0 20px 0;
    }

    div.design-trends {
        width: 70%;
        height: 55px;
        margin-bottom: 3px;
        display: inline-block;
    }
}

@media screen and (max-width: 640px) {

    div.wrapper_header-nav_and_logo nav.navigation {
        font-size: 0.93em;
    }

    div.wrapper_header-nav_and_logo nav.navigation a {
        margin-left: 0;
        padding: 6px;
    }

    div.banner {
        width: 100%;
    }

    div.wrapper_banner {
        width: 100%;
    }

    div.wrapper_banner h1 {
        font-size: 100px;
    }

    div.content-1 {
        height: 950px;
    }

    div.common-wrapper section.block_content-1 {
        width: 100%;
        height: 230px;
    }

    div.common-wrapper section.block_content-1 h3 {
        margin: 13px 50px 0 21px;
    }

    div.common-wrapper section.block_content-1 h4 {
        margin: 3px 100px 0 21px;
    }

    div.content-2 {
        height: 1550px;
    }

    div.content-2 section.block_content-2 {
        width: 100%;
        height: 420px;
    }

    div.person {
        width: 90%;
        margin-bottom: 40px;
    }

    div.news div.text p {
        width: 120%;
    }

    div.news {
        width: 90%;
        margin: 0 auto;
        float: none;
        padding: 0 0 40px 0;
    }

    div.design-trends {
        width: 90%;
    }

    div.common-wrapper div.copyright {
        margin: 32px 0 0 0;
    }

    div.common-wrapper ul.social-networks {
        margin: 25px 0 0 0;
        padding: 0;
        float: right;
    }
}
