body {
    background-color: #211e1c;
    color: #fff;
}

header, main {
    width: 100%;
    text-align: center;
}

form {
    width: 40%;
    border: 1px solid #fff;
    margin: 0 auto;
}

textarea, input, label {
    display: block;
}

textarea {
    width: 90%;
    height: 100px;
    margin: 2% auto;
    font-size: 20px;
}

input[type="text"] {
    margin: 1% auto;
}

input[type="submit"] {
    margin: 3% auto;
}

#show {
    width: 3%;
    margin: 2% auto;
    border: 2px solid #fff;
    font-size: 60px;
}