@import url('https://fonts.googleapis.com/css?family=Exo');

.column1 {
	width: 250px;
	font-family: 'Exo', sans-serif;
}

td {
	border: 2px solid gray;
	padding-left: 0.5rem;
}

ul {
	list-style-type: square;
	margin-left: -20px;
}

#header ul {
	width: 120px;
	height: 70px;
}

.important {
	font-style: italic;
	font-weight: bold;
	font-size: 1.15em;
	font-family: 'Rock Salt', cursive;
	text-shadow: 0.15em 0.15em 0.15em green;
}

#foto {
	width: 350px;
	background-image: url(images/foto.jpg);
	background-size: cover;
	background-position: center;
}

img {
	width: 50px;
	height: 50px;
}

#header li {
	float: left;
	list-style-type: none;
}

#mail {
	font-size: 110%;
	text-decoration: underline;
}

#mail a:hover {
	color: red;
}

#mail a:active {
	color: green;
}

img[src$=".jpg"] {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	transition: 0.3s;
}

#sertificat:hover {
	color: gray;
	font-size: 1.2em;
}
#university:hover::after {
	content: " (НУБІП)";
	font-size: 1.5em;
}

@media screen and (max-width: 320px) {
	body {
		width: 310px;
		background-color: #744F80;
	}

	#foto {
		display: none;
	}

	#mediafoto {
		display: block;
		width: 150px;
		height: 130px;
		background-image: url(images/foto.jpg);
		background-size: contain;
		background-repeat: no-repeat;
	}

	#header ul {
		width: 320px;
		height: 120px;
	}
}

@media screen and (min-width: 321px) and (max-width: 640px){
	body {
		width: 95%;
		background-color: #338047;
	}

	#foto {
		display: none;
	}

	#mediafoto {
		display: block;
		width: 150px;
		height: 130px;
		background-image: url(images/foto.jpg);
		background-size: contain;
		background-repeat: no-repeat;
	}

	#header ul {
		width: 320px;
		height: 120px;
	}
}

@media screen and (min-width: 641px) and (max-width: 960px){
	body {
		width: 95%;
		background-color: #e59332;
	}

	#foto {
		display: none;
	}

	#mediafoto {
		display: block;
		width: 150px;
		height: 130px;
		background-image: url(images/foto.jpg);
		background-size: contain;
		background-repeat: no-repeat;
	}

	#header ul {
		width: 320px;
		height: 120px;
	}
}

@media screen and (min-width: 961px) and (max-width: 1280px){
	body {
		width: 95%;
		background-color: rgba(212, 210, 9, 0.44);
	}

	#foto {
		display: none;
	}

	#mediafoto {
		display: block;
		width: 150px;
		height: 130px;
		background-image: url(images/foto.jpg);
		background-size: contain;
		background-repeat: no-repeat;
	}

	#header ul {
		width: 320px;
		height: 120px;
	}
}